body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-tree {
    background-color: #e2e2e2;
    border-radius: 5px;
    border-color: black;
    border-width: thick;
    overflow-y: auto;
    height: 40vh;
    /*max-height: 50vh;*/
}

.tree-dist {
    padding: 7px 7px 7px 7px
}

.search_input {
    width: 250px;
    height: 30px;
    margin-top: 2vh;
    margin-left: 2vh;
    display: block;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid silver;
}