@{
    ViewBag.Title = "Folder Manager";
}

<script>
    var FolderPage = "Index";
</script>

<div ng-controller="FolderManagerModule" class="jumbotron">
    <div class="row" style="margin-top: -3vh;">
        <h3> Folder Manager </h3>
        <h4> Right-click in a folder to access the available actions. </h4>
    </div>
    <div class="row container-tree">
        <input class="input search_input" type="text" id="search_bar" value="" title="Search Bar" placeholder="Search Bar" >
        <div class="tree-dist" id="folderTree"></div>
    </div>
    <div class="row">
        <button class="btn btn-default" ng-disabled="!hasChanges" ng-click="PerformeSave();" title="Save Button">Save <i class="fas fa-save"></i></button>
    </div>
</div>